.git
.gitignore
.github
.venv
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/node_modules
**/dist
.env
.env.*
!.env.example
tests/
docs/
notebooks/
*.md
!README.md
models/*.pt
models/cache/*
